@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

body {
  font-size: calc(16px + .5vw);
  font-family: 'Open Sans';
  background-color: whitesmoke;
  color: #262626; }

h2 {
  padding: 2px 5px 2px 5px; }

p {
  padding: 1px 5px 5px 10px; }

ul {
  list-style-type: none; }

.col-1 {
  width: 8.33333%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-2 {
  width: 16.66667%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-3 {
  width: 25%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-4 {
  width: 33.33333%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-5 {
  width: 41.66667%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-6 {
  width: 50%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-7 {
  width: 58.33333%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-8 {
  width: 66.66667%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-9 {
  width: 75%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-10 {
  width: 83.33333%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-11 {
  width: 91.66667%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.col-12 {
  width: 100%;
  text-align: center;
  border: 2px solid white;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 0 3px 0px black;
  background-color: #9ea0a3; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: .8; }
  .row.space-around {
    justify-content: space-around; }

.name-row {
  justify-content: center; }

.name {
  font-size: calc(20px + 1vw);
  box-shadow: 0 0 0px 0px black;
  background-color: whitesmoke;
  border: none;
  text-align: left;
  padding-left: 4vw; }

.social-media-links-row {
  justify-content: flex-start;
  padding-left: 8.5vw; }
  .social-media-links-row li {
    display: inline;
    font-size: calc(18px + 1vw); }

.personal-background-summary {
  font-size: calc(16px + 1vw); }
  .personal-background-summary p {
    padding-bottom: 10px;
    line-height: 1.1; }

.past-link-row {
  color: white; }
  .past-link-row a {
    color: white; }

.work p {
  text-align: left; }

.education .tesol-heading {
  line-height: 1.5; }
.education p {
  text-align: left; }
.education .aerospace-studies-heading {
  line-height: 1.5; }

.future-link-row a {
  color: white; }

/*# sourceMappingURL=style.css.map */
